<div class="footer text-center">
  <p>
    <a href="#" class='footer-brand'>PAISA</a>
    by
    <span id='dev'>TECHRISE</span>
    <br>
    © <%= Date.today.year %> All Rights Reserved
  </p>
</div>
